.container
  .row
    .col-s12
      - @feed.each do |post|   
        .col-s3
          .card
            .card-image.waves-effect.waves-block.waves-light
              %img.activator{:alt => "#{post.title}", :src => "#{post.art_work}"}/
            .card-content
              %span.card-title.activator.grey-text.text-darken-4= post.title
               
               
              %p
                %a{:href => "#"} This is a link
            .card-reveal
              %span.card-title.grey-text.text-darken-4= post.title
                
              %p Here is some more information about this product that is only revealed once clicked on.
      
      = will_paginate @feed 
  
  


#product-modal.modal.fade
