-  @playlist_songs.each do |post|
  .col-sm-6.col-md-4      
    .thumbnail
      %img{:alt => "#{post.song.title}", :src => "#{post.song.art_work}"}/
      .caption
        
        / %h3= post.title         
      = link_to playlist_playlist_audio_player_index_path, title: "#{post.song.title}", rel: 'tooltip' , remote: true do
        %i.glyphicon.glyphicon-play
      / = link_to  new_playlist_song_playlist_song_path[@playlist,post.id], remote: false , method: :post  do
      /   %i.glyphicon.glyphicon-plus
         
      / = link_to "Play" ,track_audio_player_index_path(post.id), title: "#{post.title}", rel: 'tooltip' , remote: true, class: "btn btn-primary"
  

  %br   
%br
%br
%br       
#product-modal.modal.fade