!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Korujams'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Korujams'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    / Compiled and minified CSS
   
    = csrf_meta_tags
  %body
    %main{:role => "main"}
      = render 'layouts/messages'
      = render 'layouts/mat_nav'
      = yield
    // = render 'layouts/side_navigation_layout'
    / %header
    /   = render 'layouts/navigation'
    
